
#
# Spacing options
#

# Add or remove space between type and word. Default=Force
sp_after_type                   = ignore   # ignore/add/remove/force

# Add or remove space between '>' and '>' in '>>' (template stuff C++/C# only). Default=Add
sp_angle_shift                  = ignore   # ignore/add/remove/force

#
# Indenting
#

# The number of columns to indent per level.
# Usually 2, 3, 4, or 8. Default=8
indent_columns                  = 2        # unsigned number

# The continuation indent. If non-zero, this overrides the indent of '(' and '=' continuation indents.
# For FreeBSD, this is set to 4. Negative value is absolute and not increased for each ( level
indent_continue                 = 4        # number

# The continuation indent for func_*_param if they are true.
# If non-zero, this overrides the indent.
indent_param                    = 0        # unsigned number

# How to use tabs when indenting code
# 0=spaces only
# 1=indent with tabs to brace level, align with spaces (default)
# 2=indent and align with tabs, using spaces when not on a tabstop
indent_with_tabs                = 0        # number

# Whether the 'class' body is indented
indent_class                    = true     # false/true

#
# Newline adding and removing options
#

# Don't split one-line function definitions - 'int foo() { return 0; }'
nl_func_leave_one_liners        = true     # false/true

#
# Use or Do not Use options
#

# True:  indent_func_call_param will be used (default)
# False: indent_func_call_param will NOT be used
use_indent_func_call_param      = true     # false/true

# The value of the indentation for a continuation line is calculate differently if the line is:
#   a declaration :your case with QString fileName ...
#   an assignment  :your case with pSettings = new QSettings( ...
# At the second case the option value might be used twice:
#   at the assignment
#   at the function call (if present)
# To prevent the double use of the option value, use this option with the value 'True'.
# True:  indent_continue will be used only once
# False: indent_continue will be used every time (default)
use_indent_continue_only_once   = true     # false/true
